#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.hfont {font-family: Helvetica;}

.hlink {color:rgba(74, 176, 235, 0.836); text-decoration:none; font-weight:bold; cursor: pointer}
