#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.hfont {font-family: Helvetica;}

.hlink {color:rgba(76, 137, 235, 1); text-decoration:none; font-weight:bold; cursor: pointer}

#questions-container {padding-left: 0; padding-top: 20px; margin: 0; list-style-type:none}
#questions-container li {padding-left: 0; padding-bottom: 20px; padding-top: 0; margin: 0; list-style-type:none}
